                   /* -----------------------HOME PAGE---------------------- */
                   *{
                    padding: 0;
                    margin:0;
                    box-sizing: border-box;
                  }
                  .links{
                    height: 40px;
                    background-color: gray;
                    overflow: hidden;
                    
                    /* padding-left: 38px; */
                    padding-top: 7px;
                    padding-bottom: 10px;
                    
                  }
                  .links .home-link{
                    
                    /* position: relative; */
                    /* right: 2.5%; */
                    
                    border-radius: 10px;
                    font-family:cursive;
                    padding:4px ;
                    text-decoration: none;
                    color: rgb(10, 10, 10);
                  }
                  .linke{
                    float: right;
                  }
                   .soc-link{
                    
                  
                     /* transform: translateX(1207px); */
                     
                     
                     border-radius: 25px;
                     font-family:cursive;
                     
                     padding:6px ;
                     border-radius: 50%;
                     /* padding-left: 10px;
                     padding-right: 10px; */
                     text-decoration: none;
                     color: rgb(185, 223, 223);
                     
                    
                  }
                  .links a{
                    transform: scale(9);
                  }
                  .links a:hover{
                    background-color: rgb(23, 45, 63);
                    color: antiquewhite;
                  }
                  .links a:active{
                    background-color: aliceblue;
                    color: black;
                  }
                
                  img{
                      width: 300px;
                      height: 300px;
                      position: fixed;
                      top:200px;
                      left:800px;
                  }
                   h1{ 
                      text-align: center;
                      color: rgb(10, 9, 9);
                      box-shadow: 4px 3px 5px 3px  gray;
                      position: absolute;
                      top: 280px;
                      left: 300px;
                      font-family: Verdana, Geneva, Tahoma, sans-serif;
                        
                  }
                  footer#index-footer{
                    color: aliceblue;
                    position:fixed;
                    bottom:0;
                    width: 100%;
                    height: 170px;
                    background-color: rgb(20, 2, 53);
                    text-align: center;
                    font-size: 110%;
                  
                  }
                  #privacy{
                    font-family: 'Courier New', Courier, monospace;
                   
                  }
                  h4{
                    font-size: 150%;
                    padding-top: 20px;
                  }
                  