                   /* -----------------------HOME PAGE---------------------- */
nav#link{
  background-color: gray;
  display:flex; 
  justify-content:right;
  
}
#link a{

   border: 10px;
   font-family:cursive;
   padding:10px 50px;
   text-decoration: none;
   color: aqua;
}

#link a:hover{
  background-color: rgb(31, 79, 121);
}
#link a:active{
  background-color: aliceblue;
}
img{
    width: 300px;
    height: 300px;
    position: absolute;
    top:200px;
    left:900px;
}
 h1{ color: rgb(10, 9, 9);
    position: absolute;
    top: 300px;
    left: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      
}
footer{
  position: relative;
  top: 620px;
  
  width: 100%;
  height: 35px;
  background-color: rgb(20, 2, 53);
}
#privacy{
  font-family: 'Courier New', Courier, monospace;
  top: 10px;
  color: aliceblue;
  text-align: center;
}
        /* --------------------------------PROFILE PAGE----------------------------- */
#profile{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration:underline overline gray ;
}
.mypic{
  top: 180px;
  left: 200px;
  height: fit-content;
}
#inf{
  position: relative;
  text-align: left;
  top: 80px;
  left: 600px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  font-size: large;
  line-height: 30px;
  
}
#logo-profile{
  font-size:140%;
  
}
.profilelogo{
   padding: 3%;
   color: rgb(20, 2, 53);
}
      /* ----------------contact me page----------------- */
.contact-pic{
  position: absolute;
  top: 30%;
  left: 15%;
  height: 70%;
  width:60%;
}
#contact{
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 190%;
  text-align: center;
}
#logo{
  position: relative;
  top: 500px;
  left: 300px;
  font-size: 400%;
  
}
.contactlogo{
  color: black;
  padding: 5%;
}
